.Header{
    background-color: #09ff00;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.Header ul{
    
    display: flex;
   
}
.Header li {
    width:140px ;
    height: 100%; ;
    list-style: none;
    line-height:50px;
    cursor: pointer;
border-radius: 5px;
}
.Header li:hover {
   background-color: #ff0000;
}